.all {
    width: 1000px;
    margin: 0px auto;
    font-family: "나눔고딕";
}
.menu {
    width: 200px;
    height: 100%;
    border-top: 5px solid rgb(128, 128, 128);
    margin-top: 52px;
    padding: 20px;
    float: left;
}
.main {
    width: 700px;
    height: auto;
    border: 5px solid lightgrey;
    padding: 20px;
    margin-top: 10px;
    float: right;
}
.search {
    float: right;
    margin-top: 10px;
}
.postCategory {
	color:rgb(128, 128, 128);
}
.postName {
	font-size:30px;
	margin-top:10px;
	margin-bottom:10px;
}
.userProfile {
    width: 30px;
    height: 30px;
    border-radius: 70%;
    border: solid 1px;
    text-align: center;
    float:left;
    margin-right: 10px;
}
.date {
	font-size:10px;
	color:rgb(128, 128, 128);
}
.content {
	width:680px;
	height:300px;
	background-color:#F2F1F1;
/* 	border-radius: 5%; */
	padding:10px;
}
.like{
	float:left;
	margin-right:10px;
}
.comment-title{
	font-size: 20px;
	font-weight:200;
	margin-bottom:10px;
}
.user-comment{
	font-weight: bold;
	font-size:13px;
	
}
.date-comment {
	font-size:10px;
	color:rgb(128, 128, 128);
	margin-left: 40px;
}