.img-area{
	display: block;
  	margin-left: auto;
 	margin-right: auto;
	width:200px;
	height:200px;
}
.img-area label {
	display: inline-block;
  	padding: 11px;
	  color: #969696;	
	  font-size: inherit;
	  line-height: normal;
	  /* vertical-align: middle; */
	  background-color: #fdfdfd;
	  cursor: pointer;
	  border: 1px solid #ebebeb;
	  width:40px;
	  height:40px;
	  border-radius: 20px;
	  margin-left:130px;
	  margin-top:-40px;
}

#imgFile {  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}
.sign {
    width: 50%;
    margin:auto;
}

.button {
	background-color: #969696;
	align-content: center;
	margin-left:45%;
	border-radius: 5px; 
	
}
.profileImg{
	/* display: block;
  	margin-left: auto;
 	margin-right: auto; */
    width:150px; 
    height: 150px; 
    border-radius: 75px; 
    border: solid 1px; 
    text-align: center; 
    object-fit: cover;
    margin-left:25px;
}

.filebox {display:inline-block; margin-right: 10px;}




