* {
    font-family: "나눔고딕";
}
.box {
    width: 80px;
    height: 80px;
    border-radius: 70%;
    border: solid 1px;
    text-align: center;
    float:left;
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.userName {
	width: 100px;
    height: 80px;
	display:table-cell; 
	text-align:center;
}
.write{
    width: 100%;
    height: 25px;
    border-radius: 5px;
    background-color: rgb(128,128,128);
    border: none;
    color : white;
    margin-top:20px;
}